// @import 'bootstrap/scss/bootstrap';
// @import 'bootstrap-icons/font/bootstrap-icons';

@import "bootstrap";

// :root variables{
//   primary-color: #
// }
.container-md{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
